/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Cover_Sign;
	border-collapse: separate;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	max-id: 9;
	frame-break-inside: avoid;
	page-break-inside: avoid;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: left;
	vertical-align: middle;
	cell-padding-left: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	background-color: #ffffff;
	font-weight: bold;
	cell-padding-right: 2px;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column2;
	text-align: left;
	vertical-align: middle;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 20px;
	separator-color: #ffffff;
	cell-padding-right: 2px;
}

mcTableColumnStyle
{
	span: 1;
	id: 8;
	name: Column3;
	text-align: center;
	vertical-align: bottom;
	cell-padding-left: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	background-color: #ffffff;
	cell-padding-right: 2px;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: center;
	font-weight: bold;
	cell-content-style-class: Table_Header;
	cell-content-style-tag: none;
	background-color: #f5f5f5;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	vertical-align: middle;
	cell-padding-left: 0px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: center;
	vertical-align: middle;
	cell-content-style-class: table_data;
	background-color: #ffffff;
	cell-content-style-tag: none;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}


/* Cell Styles: */
 
.TableStyle-Cover_Sign
{
	border-collapse: separate;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	page-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Cover_Sign-Column-Column1
{
	
}

.TableStyle-Cover_Sign-Column-Column2
{
	
}

.TableStyle-Cover_Sign-Column-Column3
{
	
}

.TableStyle-Cover_Sign-Head-Header1
{
	
}

.TableStyle-Cover_Sign-HeadI-Column1-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadE-Column1-Header1
{
	padding-right: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Cover_Sign-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadF-Column1-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Cover_Sign-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadH-Column1-Header1
{
	padding-right: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadD-Column1-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Cover_Sign-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadC-Column1-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadB-Column1-Header1
{
	padding-right: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadA-Column1-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadG-Column1-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadI-Column2-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadI-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadE-Column2-Header1
{
	padding-right: 2px;
	border-right-width: 20px;
	border-right-color: #ffffff;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Cover_Sign-HeadE-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadF-Column2-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Cover_Sign-HeadF-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadH-Column2-Header1
{
	padding-right: 2px;
	border-right-width: 20px;
	border-right-color: #ffffff;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadH-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadD-Column2-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Cover_Sign-HeadD-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadC-Column2-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadC-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadB-Column2-Header1
{
	padding-right: 2px;
	border-right-width: 20px;
	border-right-color: #ffffff;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadB-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadA-Column2-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadA-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadG-Column2-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadG-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadI-Column3-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadI-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadE-Column3-Header1
{
	padding-right: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Cover_Sign-HeadE-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadF-Column3-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Cover_Sign-HeadF-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadH-Column3-Header1
{
	padding-right: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadH-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadD-Column3-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Cover_Sign-HeadD-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadC-Column3-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadC-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadB-Column3-Header1
{
	padding-right: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadB-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadA-Column3-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadA-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-HeadG-Column3-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-HeadG-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootI-Column1-
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootI-Column1- p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootE-Column1-
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Cover_Sign-FootE-Column1- p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootF-Column1-
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootF-Column1- p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootH-Column1-
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Cover_Sign-FootH-Column1- p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootD-Column1-
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootD-Column1- p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootC-Column1-
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootC-Column1- p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootB-Column1-
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Cover_Sign-FootB-Column1- p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootA-Column1-
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootA-Column1- p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootG-Column1-
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootG-Column1- p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-FootI-Column2-
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootI-Column2- p
{
	
}

.TableStyle-Cover_Sign-FootE-Column2-
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 20px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Cover_Sign-FootE-Column2- p
{
	
}

.TableStyle-Cover_Sign-FootF-Column2-
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootF-Column2- p
{
	
}

.TableStyle-Cover_Sign-FootH-Column2-
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 20px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Cover_Sign-FootH-Column2- p
{
	
}

.TableStyle-Cover_Sign-FootD-Column2-
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootD-Column2- p
{
	
}

.TableStyle-Cover_Sign-FootC-Column2-
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootC-Column2- p
{
	
}

.TableStyle-Cover_Sign-FootB-Column2-
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 20px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Cover_Sign-FootB-Column2- p
{
	
}

.TableStyle-Cover_Sign-FootA-Column2-
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootA-Column2- p
{
	
}

.TableStyle-Cover_Sign-FootG-Column2-
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootG-Column2- p
{
	
}

.TableStyle-Cover_Sign-FootI-Column3-
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootI-Column3- p
{
	
}

.TableStyle-Cover_Sign-FootE-Column3-
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Cover_Sign-FootE-Column3- p
{
	
}

.TableStyle-Cover_Sign-FootF-Column3-
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootF-Column3- p
{
	
}

.TableStyle-Cover_Sign-FootH-Column3-
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Cover_Sign-FootH-Column3- p
{
	
}

.TableStyle-Cover_Sign-FootD-Column3-
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootD-Column3- p
{
	
}

.TableStyle-Cover_Sign-FootC-Column3-
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootC-Column3- p
{
	
}

.TableStyle-Cover_Sign-FootB-Column3-
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Cover_Sign-FootB-Column3- p
{
	
}

.TableStyle-Cover_Sign-FootA-Column3-
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootA-Column3- p
{
	
}

.TableStyle-Cover_Sign-FootG-Column3-
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-FootG-Column3- p
{
	
}

.TableStyle-Cover_Sign-Body-Body1
{
	
}

.TableStyle-Cover_Sign-BodyI-Column1-Body1
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyI-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-BodyE-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Cover_Sign-BodyE-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-BodyF-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyF-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-BodyH-Column1-Body1
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Cover_Sign-BodyH-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-BodyD-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyD-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-BodyC-Column1-Body1
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyC-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-BodyB-Column1-Body1
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Cover_Sign-BodyB-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-BodyA-Column1-Body1
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyA-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-BodyG-Column1-Body1
{
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyG-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Cover_Sign-BodyI-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyE-Column2-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 20px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Cover_Sign-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyF-Column2-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyH-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 20px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Cover_Sign-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyD-Column2-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyC-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyB-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 20px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Cover_Sign-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyA-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyG-Column2-Body1
{
	text-align: left;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyG-Column2-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyI-Column3-Body1
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyI-Column3-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyE-Column3-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Cover_Sign-BodyE-Column3-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyF-Column3-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyF-Column3-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyH-Column3-Body1
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Cover_Sign-BodyH-Column3-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyD-Column3-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyD-Column3-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyC-Column3-Body1
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyC-Column3-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyB-Column3-Body1
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Cover_Sign-BodyB-Column3-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyA-Column3-Body1
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyA-Column3-Body1 p
{
	
}

.TableStyle-Cover_Sign-BodyG-Column3-Body1
{
	text-align: center;
	vertical-align: bottom;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Cover_Sign-BodyG-Column3-Body1 p
{
	
}


