/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Init_Date;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 3;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-padding-left: 2px;
	cell-padding-right: 0px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	text-align: right;
	vertical-align: middle;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-color: #f5f5f5;
	text-align: center;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: right;
	vertical-align: middle;
	cell-padding-left: 2px;
	cell-padding-right: 0px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	font-weight: bold;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Init_Date
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Init_Date-Column-Column1
{
	
}

.TableStyle-Init_Date-Head-Header1
{
	
}

.TableStyle-Init_Date-HeadI-Column1-Header1
{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
}

.TableStyle-Init_Date-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Init_Date-HeadE-Column1-Header1
{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Init_Date-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Init_Date-HeadF-Column1-Header1
{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Init_Date-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Init_Date-HeadH-Column1-Header1
{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
}

.TableStyle-Init_Date-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Init_Date-HeadD-Column1-Header1
{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Init_Date-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Init_Date-HeadC-Column1-Header1
{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
}

.TableStyle-Init_Date-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Init_Date-HeadB-Column1-Header1
{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
}

.TableStyle-Init_Date-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Init_Date-HeadA-Column1-Header1
{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
}

.TableStyle-Init_Date-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Init_Date-HeadG-Column1-Header1
{
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
}

.TableStyle-Init_Date-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Init_Date-Foot-Footer1
{
	
}

.TableStyle-Init_Date-FootI-Column1-Footer1
{
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Init_Date-FootE-Column1-Footer1
{
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Init_Date-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Init_Date-FootF-Column1-Footer1
{
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Init_Date-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Init_Date-FootH-Column1-Footer1
{
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Init_Date-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Init_Date-FootD-Column1-Footer1
{
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Init_Date-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Init_Date-FootC-Column1-Footer1
{
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Init_Date-FootB-Column1-Footer1
{
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Init_Date-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Init_Date-FootA-Column1-Footer1
{
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Init_Date-FootG-Column1-Footer1
{
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Init_Date-Body-Body1
{
	
}

.TableStyle-Init_Date-BodyI-Column1-Body1
{
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-BodyI-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Init_Date-BodyE-Column1-Body1
{
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Init_Date-BodyE-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Init_Date-BodyF-Column1-Body1
{
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-BodyF-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Init_Date-BodyH-Column1-Body1
{
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Init_Date-BodyH-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Init_Date-BodyD-Column1-Body1
{
	font-weight: bold;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-BodyD-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Init_Date-BodyC-Column1-Body1
{
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-BodyC-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Init_Date-BodyB-Column1-Body1
{
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Init_Date-BodyB-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Init_Date-BodyA-Column1-Body1
{
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-BodyA-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Init_Date-BodyG-Column1-Body1
{
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-Init_Date-BodyG-Column1-Body1 p
{
	font-weight: bold;
}


