/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: RevHistory;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-id: 9;
	frame-break-inside: avoid;
	page-break-inside: avoid;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: left;
	vertical-align: middle;
	size: 114px;
	cell-padding-left: 30px;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column2;
	text-align: center;
	vertical-align: middle;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 0px;
	size: 151px;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	id: 8;
	name: Column3;
	text-align: center;
	vertical-align: middle;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 0px;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	id: 9;
	name: Column4;
	text-align: center;
	vertical-align: middle;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	cell-padding-left: 2px;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	cell-padding-right: 2px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	text-align: center;
	font-weight: bold;
	cell-content-style-class: Table_Header;
	cell-content-style-tag: none;
	background-color: #dcdcdc;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	vertical-align: middle;
	cell-padding-left: 0px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: center;
	vertical-align: middle;
	cell-content-style-class: table_data;
	background-color: #ffffff;
	cell-content-style-tag: none;
}


/* Cell Styles: */
 
.TableStyle-RevHistory
{
	border-collapse: separate;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	page-break-inside: avoid;
	frame-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-RevHistory-Column-Column1
{
	width: 114px;
}

.TableStyle-RevHistory-Column-Column2
{
	width: 151px;
}

.TableStyle-RevHistory-Column-Column3
{
	
}

.TableStyle-RevHistory-Column-Column4
{
	
}

.TableStyle-RevHistory-Head-Header1
{
	
}

.TableStyle-RevHistory-HeadI-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadF-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadD-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadC-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadA-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadG-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadI-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadI-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadE-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadF-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadF-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadH-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadD-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadD-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadC-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadC-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadB-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadA-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadA-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadG-Column2-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadG-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadI-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadI-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadE-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadE-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadF-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadF-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadH-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadH-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadD-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadD-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadC-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadC-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadB-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadB-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadA-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadA-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadG-Column3-Header1
{
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadG-Column3-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadI-Column4-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadI-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadE-Column4-Header1
{
	padding-right: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadE-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadF-Column4-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadF-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadH-Column4-Header1
{
	padding-right: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadH-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadD-Column4-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-RevHistory-HeadD-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadC-Column4-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadC-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadB-Column4-Header1
{
	padding-right: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadB-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadA-Column4-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadA-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-HeadG-Column4-Header1
{
	padding-right: 2px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #dcdcdc;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-HeadG-Column4-Header1 p
{
	font-weight: bold;
}

.TableStyle-RevHistory-FootI-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-FootI-Column1- p
{
	
}

.TableStyle-RevHistory-FootE-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootE-Column1- p
{
	
}

.TableStyle-RevHistory-FootF-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-FootF-Column1- p
{
	
}

.TableStyle-RevHistory-FootH-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootH-Column1- p
{
	
}

.TableStyle-RevHistory-FootD-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-FootD-Column1- p
{
	
}

.TableStyle-RevHistory-FootC-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-FootC-Column1- p
{
	
}

.TableStyle-RevHistory-FootB-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootB-Column1- p
{
	
}

.TableStyle-RevHistory-FootA-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-FootA-Column1- p
{
	
}

.TableStyle-RevHistory-FootG-Column1-
{
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-FootG-Column1- p
{
	
}

.TableStyle-RevHistory-FootI-Column2-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootI-Column2- p
{
	
}

.TableStyle-RevHistory-FootE-Column2-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootE-Column2- p
{
	
}

.TableStyle-RevHistory-FootF-Column2-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootF-Column2- p
{
	
}

.TableStyle-RevHistory-FootH-Column2-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootH-Column2- p
{
	
}

.TableStyle-RevHistory-FootD-Column2-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootD-Column2- p
{
	
}

.TableStyle-RevHistory-FootC-Column2-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootC-Column2- p
{
	
}

.TableStyle-RevHistory-FootB-Column2-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootB-Column2- p
{
	
}

.TableStyle-RevHistory-FootA-Column2-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootA-Column2- p
{
	
}

.TableStyle-RevHistory-FootG-Column2-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootG-Column2- p
{
	
}

.TableStyle-RevHistory-FootI-Column3-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootI-Column3- p
{
	
}

.TableStyle-RevHistory-FootE-Column3-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootE-Column3- p
{
	
}

.TableStyle-RevHistory-FootF-Column3-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootF-Column3- p
{
	
}

.TableStyle-RevHistory-FootH-Column3-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootH-Column3- p
{
	
}

.TableStyle-RevHistory-FootD-Column3-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootD-Column3- p
{
	
}

.TableStyle-RevHistory-FootC-Column3-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootC-Column3- p
{
	
}

.TableStyle-RevHistory-FootB-Column3-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootB-Column3- p
{
	
}

.TableStyle-RevHistory-FootA-Column3-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootA-Column3- p
{
	
}

.TableStyle-RevHistory-FootG-Column3-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootG-Column3- p
{
	
}

.TableStyle-RevHistory-FootI-Column4-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootI-Column4- p
{
	
}

.TableStyle-RevHistory-FootE-Column4-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootE-Column4- p
{
	
}

.TableStyle-RevHistory-FootF-Column4-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootF-Column4- p
{
	
}

.TableStyle-RevHistory-FootH-Column4-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootH-Column4- p
{
	
}

.TableStyle-RevHistory-FootD-Column4-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootD-Column4- p
{
	
}

.TableStyle-RevHistory-FootC-Column4-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootC-Column4- p
{
	
}

.TableStyle-RevHistory-FootB-Column4-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-FootB-Column4- p
{
	
}

.TableStyle-RevHistory-FootA-Column4-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootA-Column4- p
{
	
}

.TableStyle-RevHistory-FootG-Column4-
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-FootG-Column4- p
{
	
}

.TableStyle-RevHistory-Body-Body1
{
	
}

.TableStyle-RevHistory-BodyI-Column1-Body1
{
	background-color: #ffffff;
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-BodyI-Column1-Body1 p
{
	
}

.TableStyle-RevHistory-BodyE-Column1-Body1
{
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyE-Column1-Body1 p
{
	
}

.TableStyle-RevHistory-BodyF-Column1-Body1
{
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-BodyF-Column1-Body1 p
{
	
}

.TableStyle-RevHistory-BodyH-Column1-Body1
{
	background-color: #ffffff;
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyH-Column1-Body1 p
{
	
}

.TableStyle-RevHistory-BodyD-Column1-Body1
{
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-BodyD-Column1-Body1 p
{
	
}

.TableStyle-RevHistory-BodyC-Column1-Body1
{
	background-color: #ffffff;
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-BodyC-Column1-Body1 p
{
	
}

.TableStyle-RevHistory-BodyB-Column1-Body1
{
	background-color: #ffffff;
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyB-Column1-Body1 p
{
	
}

.TableStyle-RevHistory-BodyA-Column1-Body1
{
	background-color: #ffffff;
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-BodyA-Column1-Body1 p
{
	
}

.TableStyle-RevHistory-BodyG-Column1-Body1
{
	background-color: #ffffff;
	text-align: left;
	vertical-align: middle;
	padding-left: 30px;
}

.TableStyle-RevHistory-BodyG-Column1-Body1 p
{
	
}

.TableStyle-RevHistory-BodyI-Column2-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyI-Column2-Body1 p
{
	
}

.TableStyle-RevHistory-BodyE-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyE-Column2-Body1 p
{
	
}

.TableStyle-RevHistory-BodyF-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyF-Column2-Body1 p
{
	
}

.TableStyle-RevHistory-BodyH-Column2-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyH-Column2-Body1 p
{
	
}

.TableStyle-RevHistory-BodyD-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyD-Column2-Body1 p
{
	
}

.TableStyle-RevHistory-BodyC-Column2-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyC-Column2-Body1 p
{
	
}

.TableStyle-RevHistory-BodyB-Column2-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyB-Column2-Body1 p
{
	
}

.TableStyle-RevHistory-BodyA-Column2-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyA-Column2-Body1 p
{
	
}

.TableStyle-RevHistory-BodyG-Column2-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyG-Column2-Body1 p
{
	
}

.TableStyle-RevHistory-BodyI-Column3-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyI-Column3-Body1 p
{
	
}

.TableStyle-RevHistory-BodyE-Column3-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyE-Column3-Body1 p
{
	
}

.TableStyle-RevHistory-BodyF-Column3-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyF-Column3-Body1 p
{
	
}

.TableStyle-RevHistory-BodyH-Column3-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyH-Column3-Body1 p
{
	
}

.TableStyle-RevHistory-BodyD-Column3-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyD-Column3-Body1 p
{
	
}

.TableStyle-RevHistory-BodyC-Column3-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyC-Column3-Body1 p
{
	
}

.TableStyle-RevHistory-BodyB-Column3-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyB-Column3-Body1 p
{
	
}

.TableStyle-RevHistory-BodyA-Column3-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyA-Column3-Body1 p
{
	
}

.TableStyle-RevHistory-BodyG-Column3-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyG-Column3-Body1 p
{
	
}

.TableStyle-RevHistory-BodyI-Column4-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyI-Column4-Body1 p
{
	
}

.TableStyle-RevHistory-BodyE-Column4-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyE-Column4-Body1 p
{
	
}

.TableStyle-RevHistory-BodyF-Column4-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyF-Column4-Body1 p
{
	
}

.TableStyle-RevHistory-BodyH-Column4-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyH-Column4-Body1 p
{
	
}

.TableStyle-RevHistory-BodyD-Column4-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyD-Column4-Body1 p
{
	
}

.TableStyle-RevHistory-BodyC-Column4-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyC-Column4-Body1 p
{
	
}

.TableStyle-RevHistory-BodyB-Column4-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-RevHistory-BodyB-Column4-Body1 p
{
	
}

.TableStyle-RevHistory-BodyA-Column4-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyA-Column4-Body1 p
{
	
}

.TableStyle-RevHistory-BodyG-Column4-Body1
{
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-RevHistory-BodyG-Column4-Body1 p
{
	
}


